<h3>Confirmed Cases</h3>
<hr>
    <table class="table table-striped table-hover" id="vaccinated">
        <thead>
            <th scope="col">Coutry</th>
            <th scope="col">Vaccines Administered</th>
            <th scope="col">People Vaccinated</th>
            <th scope="col">People Partially Vaccinated</th>
        </thead>
        <tbody>
            <% vac.Vaccines.forEach((el, index) => {%>
                <tr>
                    <td><%= el.country %></td>
                    <td><%= el.administered %></td>
                    <td><%= el.vaccinated %></td>
                    <td><%= el.partially %></td>
                </tr>         
            <% }); %>
        </tbody>
    </table>
