<h3>Home Page</h3>
<hr>
<p>Welcome!</p>
<p>This is a demo project. Here you can find information and different statistics about the ongoing COVID-19 pandemic. Just click the options in the left menu.</p>
<p>You can also find more information about how this page was made, and the source code in the link below:</p>
<a href="https://github.com/Venrique/KTT-Technical-Evaluation" target="_blank"><i class="fa-brands fa-github"></i><span class="px-2">Github Repository</span></a>
<p class="my-5">It was a fun challenge. Hope you like it!</p>
<!-- <div class="row py-5">
    <div class="col">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
    </div>
</div> -->